{% extends "layout/base.html" %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{% static 'apps/fichier/css/bootstrap.min.css'%}">
<link rel="stylesheet" href="{% static '/apps/design-system/style.css'%}">

{% endblock styles %}
<title>{% block title %}{% endblock title %}</title>
{% block content %}
    <div class="container-fluid  d-flex align-items-center p-0 m-0 principal">
        <div class="bg-body-black   p-2 option">
            <div class="d-flex align-items-center dropdown ">
                <img src="{% static 'usersauths/assets/image/social-media-5187243_1280.png' %}" class="imageProfil" alt="">
                <h5 class="mx-4 text-light dropdown-toggle mb-2" data-bs-toggle='dropdown'>
                    Notion of {{user.username | truncatechars:15 }}
                </h5>
                <div class='dropdown-menu  px-2 '>
                    <h6 class="mx-0 mb-2">{{user.email}}</h6>
                    <div class="container otherInformation text-center mb-2">
                        <h5>Notion of {{user.username}}</h5>
                    </div>
                    <li><i class="fa fa-user"></i><a href='#' class='dropdown-item text-decoration-none'>Add new account</a></li>
                    <li><i class="fa fa-logout"></i><a href='{% url "usersauths:logout" %}' class='dropdown-item text-decoration-none'>Deconnexion</a></li>
               </div>
            </div>
        </div>
        <div class="content bg-black w-75 h-100 p-4">content</div>
    </div>
<script src="{% static 'apps/fichier/js/bootstrap.bundle.min.js' %}"></script>
{% endblock content %}