.principal{
    height: 100vh;
    background: black;
    width: 100%;
}
.option{
    height: 100vh;
    background: rgba(36, 36, 36, 0.731);
}
.imageProfil{
    height: 45px;
    width: 45px;
    border-radius: 100%;
    object-fit: 100% cover;
}
.dropdown-menu{
    background: rgba(36, 36, 36, 0.731);
    color:white;
    width: 500px;
}
.dropdown-item{
    color: white;
}
.dropdown-item a:hover{
    color: black;
}
.dropdown{
    cursor: pointer;
}
